In [1]:
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt
import seaborn as sns
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split, GridSearchCV

data = pd.read_csv(r'C:\Users\Kerry\Export.csv')
print(data.shape)
data.head()

(45321, 13)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Item Code (CPC),Item,Year,Unit,Import,Export,Production,Consumption
0,TCL,Crops and livestock products,4,Afghanistan,5610,1654,"Anise, badian, coriander, cumin, caraway, fenn...",2014,t,283.85,21099.0,21500.00,684.85
1,TCL,Crops and livestock products,4,Afghanistan,5610,1654,"Anise, badian, coriander, cumin, caraway, fenn...",2015,t,1000.16,17340.0,18000.00,1660.16
2,TCL,Crops and livestock products,4,Afghanistan,5610,1654,"Anise, badian, coriander, cumin, caraway, fenn...",2016,t,814.88,8353.0,17333.33,9795.21
3,TCL,Crops and livestock products,4,Afghanistan,5610,1654,"Anise, badian, coriander, cumin, caraway, fenn...",2017,t,3.67,8500.0,18234.12,9737.79
4,TCL,Crops and livestock products,4,Afghanistan,5610,1654,"Anise, badian, coriander, cumin, caraway, fenn...",2018,t,112.30,9456.0,17855.82,8512.12

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45321 entries, 0 to 45320
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Domain Code      45321 non-null  object
 1   Domain           45321 non-null  object
 2   Area Code (M49)  45321 non-null  int64
 3   Area             45321 non-null  object
 4   Element Code     45321 non-null  int64
 5   Item Code (CPC)  45321 non-null  int64
 6   Item             45321 non-null  object
 7   Year             45321 non-null  int64
 8   Unit             45321 non-null  object
 9   Import           45321 non-null  float64
 10  Export           45321 non-null  float64
 11  Production       45321 non-null  float64
 12  Consumption      45321 non-null  float64
dtypes: float64(4), int64(4), object(5)
memory usage: 4.5+ MB

In [3]:
data.duplicated().sum()

0

In [4]:
data.describe()

,Area Code (M49),Element Code,Item Code (CPC),Year,Import,Export,Production,Consumption
count,45321.000000,45321.0,45321.000000,45321.000000,4.532100e+04,4.532100e+04,4.532100e+04,4.532100e+04
mean,422.784824,5610.0,1611.224333,2009.062267,2.979475e+03,3.304097e+03,3.088251e+04,3.055789e+04
std,252.530226,0.0,128.138020,8.784068,2.463151e+04,3.111707e+04,4.981218e+05,4.939798e+05
min,4.000000,5610.0,1231.000000,1993.000000,0.000000e+00,0.000000e+00,0.000000e+00,-5.009568e+04
25%,203.000000,5610.0,1652.000000,2002.000000,3.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00
50%,410.000000,5610.0,1654.000000,2009.000000,5.090000e+01,1.000000e+00,0.000000e+00,8.223000e+01
75%,642.000000,5610.0,1656.000000,2017.000000,5.396500e+02,7.480000e+01,0.000000e+00,1.113050e+03
max,894.000000,5610.0,1658.000000,2023.000000,1.334022e+06,1.220169e+06,1.734695e+07,1.732090e+07